@import "tailwindcss";

/* Tambahkan ini untuk efek scroll halus */
html {
  scroll-behavior: smooth;
}

/* Kustomisasi Scrollbar (Opsional - biar makin ganteng) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}